<script>
  <% if current_user && controller.is_a?(SearchController) && params[:action] == 'communities' %>
    var urlNewCmm = "<%=url_for profile: current_user.login, controller: 'memberships', action: 'new_community'%>";
    $('<a id="bt-new-cmm" href="'+urlNewCmm+'">Criar Comunidade</a>').prependTo('.main-content');
  <% end %>
  setTimeout(function(){ $(document.body).addClass('desaturar-bg') }, 1500);
</script>

<% if profile %>
<p id="nota-responsabilidade"><%=
  if profile.type == 'Person'
    'Este é um perfil pessoal. As idéias expostas aqui não representam o consenso da universidade.'
  else
    'Este é um grupo independente. As idéias expostas aqui não representam o consenso da universidade.'
  end
%></p>
<% end %>

<footer>
  <div>
    <h2>Universidade Federal da Bahia</h2>
    <p>Rua Augusto Viana, s/n - Palácio da Reitoria, Canela, Salvador - CEP: 40110-909</p>
    <p id="noosfero-footer-info">
      Esta rede social usa <a href="http://noosfero.org">Noosfero</a>,
      desenvolvido pela comunidade Noosfero e licenciado sob a
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a>
      versão 3 ou superior.
    </p>
  </div>
</footer>
