<% is_home = (params[:controller]=='home' && params[:action]=='index') %>
<header>
  <%
    title = environment.name
    title = "#{h profile.name} &mdash; #{title}" if profile
    title = "#{h @page.name} &mdash; #{title}" if @page
  %>
  <h1><div><%= is_home ? environment.name : link_to(title.html_safe, '/') %></div></h1>
  <nav id="top-menu">
    <div id="top-menu-content">
      <ul>
        <li><a href="/search/contents"><%=_('Contents')%></a></li>
        <li><a href="/search/people"><%=_('People')%></a></li>
        <li><a href="/search/communities"><%=_('Communities')%></a></li>
        <li><a href="/search/events"><%=_('Events')%></a></li>
      </ul>
      <div id="user-menu" class="<%= user ? 'logged-in' : 'logged-out' %>">
      <%=
        if user
          pending_tasks_count = ''
          tasks_count = Task.to(user).pending.count
          if tasks_count > 0
            pending_tasks_count = link_to(tasks_count.to_s,
              user.tasks_url,
              id: 'pending-tasks-count',
              title: _("Manage your pending tasks"))
          end
          user_identifier = content_tag('strong',
            content_tag('i', '',
            style: "background-image:url(#{user.profile_custom_icon(gravatar_default)})") +
            user.name.split.first,
            id: 'user-menu-header')
          [
            user_identifier,
            pending_tasks_count,
            content_tag('div',
            [
              link_to('Página pessoal', user.url, id: 'homepage-link'),
              *plugins_items,
              render_environment_features(:usermenu),
              admin_link,
              manage_enterprises,
              manage_communities,
              ctrl_panel_link,
              logout_link
            ].flatten.compact.join("\n").html_safe)
          ].join("\n").html_safe
        else
          [
            modal_inline_link_to(_('Login'), login_url, '#inlineLoginBox', :id => 'link-login-top'),
            @plugins.dispatch(:alternative_authentication_link).collect do |content|
              instance_exec &content
            end,
            usermenu_signup
          ].flatten.compact.join("\n").html_safe
        end
      %>
      </div>
    </div>
  </nav>
  <% if "#{params[:controller]} #{params[:action]}" == "home index" %>
    <a id="faca-parte" href="<%=url_for controller: 'account', action: 'signup'%>">Faça Parte!</a>
  <% end %>
  <form id="top-busca" action="/search">
    <div>
      <input name="query" type="search" placeholder="Buscar...">
    </div>
  </form>
</header>

<% if is_home %>
<div id="principais-comunidades">
  <ul>
    <%=
      cmms_root = environment.communities
        .joins('LEFT JOIN sub_organizations_plugin_relations ON ' +
               'sub_organizations_plugin_relations.child_id = profiles.id')
        .where('sub_organizations_plugin_relations.child_id IS NULL')
      #cmms_child = environment.communities
      #  .joins('INNER JOIN sub_organizations_plugin_relations ON ' +
      #         'sub_organizations_plugin_relations.child_id = profiles.id')
      cmms = cmms_root.where.not(image_id: nil)
      cmms = environment.communities.where.not(image_id: nil) if cmms.length < 23
      cmms = environment.communities if cmms.length < 23
      cmms.no_templates.order("RANDOM()").limit(23).map do |community|
        profile_image_link(community, '')
      end.join("\n").html_safe
    %>
    <div id="conheca-outras" class="common-profile-list-block">
      <li>
        <a href="/search/communities">Conheça outras <strong>Comunidades!</strong></a>
      </li>
    </div>
  </ul>
</div>
<% end %>

<% if profile %>
<div id="profile-ufba-header" class="<%= profile.type %>">
  <div id="profile-ufba-header-content">
    <a href="<%=url_for profile.url%>" id="profile-pic" style="background-image:url(<%= profile_pic profile %>)"></a>
    <% if profile.kind_of?(Community) %>
      <span id="profile-type">Comunidade</span>
    <% end %>
    <h1><%= profile.name %></h1>
    <span id="profile-kinds"><%=
      kinds = profile.kinds.map &:name
      if kinds.length <= 1
        kinds.first
      else
        "#{kinds[0..-2].join(', ')} e #{kinds.last}"
      end
    %></span>
  </div>
</div>
<% end %>
