@import url(../profile-base/style.css);

@font-face {
  font-family: 'Barbara';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BarbaraTostes.ttf') format('truetype');
}

body {
  background-color: #226;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/campus-ondina.low.jpg);
  background-position: 50% 100%;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 14px;
  transition: 1s;
}

body.desaturar-bg {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/campus-ondina.low.jpg);
  transition: 1.5s;
}

%glass {
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.2)), url(images/campus-ondina.glass4.peq.jpg);
  background-position: 50% 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.7);
  border-radius: 15px;
}
%no-glass {
  background: transparent;
  box-shadow: none;
}
%box-over-glass {
  border-radius: 6px;
  border: none;
  background: rgba(255,255,255,0.6);
  //box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.6);
}

#theme-header {
  height: auto
}

#user, #navigation {
  display: none
}

#top-menu {
  @import "styles/top-menu"
}

#profile-ufba-header {
  @import "styles/profile-ufba-header"
}

#wrap-1 {
  width: auto;
  padding: 0;
}

#wrap-2 {
  width: 960px;
  margin: auto;
  border: none;
}

.main-content {
  border: none;
  box-shadow: none;
  padding: 0 20px 0 0;
}

#wrap-2 {
  background: transparent;
  padding: 0;
}

#content {
  @import "styles/content"
}

#footer, #theme-footer {
  font-size: 1em;
  width: auto;
}
#noosfero-footer-info {
  font-family: "Liberation Sans Narrow", Arial, sans-serif;
  font-size: 0.8em;
}

/// Specific Definitions ///////////////////////////////////////////////////////

body.action-home-index {
  @import "styles/home";
}
body:not(.action-home-index) {
  @import "styles/not-home";
  #footer {
    @import "styles/footer";
  }
}

body.controller-profile { @import "styles/controller/profile" }
body.controller-search { @import "styles/controller/search" }
body.controller-tasks { @import "styles/controller/tasks" }
body.controller-profile_design { @import "styles/controller/profile-design" }
body.controller-profile_editor { @import "styles/controller/profile-editor" }
