#bt-new-cmm
  float: right
  display: block
  text-decoration: none
  padding: 1px 4px
  border-radius: 4px
  background: rgba(255,255,255,0.5)
  border: 1px solid rgba(0,0,120,0.5)
  color: #226

&.action-search-articles #content #search-content
  #search-results li
    display: block
    margin: 6px 0
    @extend %box-over-glass
    &:hover
      background: #FFF
