&.action-tasks-index
  .filter_fields
    @extend %box-over-glass
    legend
      display: none
  .task_box
    border: none
    background: #FFF
    box-shadow: 0 0 8px rgba(0,0,0,0.5)
    padding: 10px 7px
    margin: 10px 0
