#agenda
  .agenda-calendar .current-month
    height: 0
    width: 0
    border: none
    margin: auto
    .calendar-day
      font-size: 14px
      padding: 0
      height: auto
      span, a
        display: block
        line-height: 35px
        width: 35px
        margin: auto
        border-radius: 20px
        text-decoration: none
      &.today
        background: transparent
        span
          background: #226
          a
            color: #FFF
      &:not(.today)
        a
          background: #BBB
          color: #000
      &.selected
        background: transparent
        span
          font-style: normal
          box-shadow: 0 0 20px rgba(255,200,0,1)
        &:not(.today) a
          background: #888
          color: #FFF
      &.calendar-day-out
        opacity: 0.5
  #events-of-the-day #agenda-items
    border-radius: 15px
    .no-events
      display: block
      text-align: center
      padding: 5em 0
      color: rgba(0,0,0,0.4)

