#nota-responsabilidade
  padding: 20px 0
  text-align: center
  color: #FE0
  text-shadow: 0 0 5px #000, 0 0 5px #000

#theme-footer
  margin: 30px 0 0 0
  footer
    border-top: 4px solid #B3B3B3
    background: #226
    > div
      background: url(images/logo-noosfero-ufba.svg) 0 20% no-repeat
      background-size: 320px 80px
      max-width: 960px
      margin: auto
      padding: 60px 0 30px 0
      color: #FFF
      text-align: right
      h2, p
        margin: 0
        a
          color: #FFF
