#theme-header
  height: auto
  padding-top: 3em
  margin: auto
  header
    max-width: 960px
    margin: auto
    position: relative
    h1
      background: url(images/logo-noosfero-ufba.svg) 50% 50% no-repeat
      background-size: contain
      height: 200px
      margin: 0 auto
      font-size: 1px
      color: transparent
      @media screen and (max-width: 900px)
        height: 25vw

#top-menu
  height: 50px
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(50,100,50,0) 100%)
  #top-menu-content
    margin: auto
    font-family: "Liberation Sans", "Arial", sans-serif

#wrap-2
  display: none

#top-busca
  margin: 0
  padding-top: 20px
  @media screen and (max-width: 900px)
    padding-top: 2vw
  input
    width: 40%
    border: none
    border-radius: 0.5em
    background: rgba(255,255,255,0.8) url(images/lupa.svg) 0.3em 0.4em no-repeat
    background-size: 1.2em
    font-size: 1.2em
    padding: 0.4em 0 0.4em 1.7em
    box-shadow: 0.1em 0.1em 1em rgba(0,0,0,0.5)

#faca-parte
  position: absolute
  bottom: -30px
  right: 0
  font-family: Barbara
  font-size: 66px
  color: #FFF
  text-decoration: none
  text-shadow: 2px 2px 5px #555
  margin-top: -40px
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="20"><path style="fill:none;stroke:%23fff;stroke-width:6px;stroke-linecap:round;" d="M 3,10 C 70,0 280,0 297,17" /></svg>')
  background-position: 50% 88%
  background-repeat: no-repeat
  background-size: contain
  filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.6))
  transition: transform 0.4s
  &:hover
    transform: scale(1.2, 1.2)
    transition: 0.2s
  @media screen and (max-width: 850px)
    font-size: 8vw
    bottom: -3vw
    &:hover
      transform: scale(1.2, 1.2) translate(-0.4em)

#principais-comunidades
  @import "principais-comunidades"

#footer
  background: linear-gradient(to bottom, rgba(50,100,50,0) 0%, rgba(0,0,0,0.9) 100%)
  color: #FFF
  #theme-footer
    margin: 0 auto
    footer
      color: #FFF
      background: transparent
      padding: 3em 2vw 2em 2vw
      text-align: right
      h2, p
        margin: 0
      a
        color: #FFF
