&
  @extend %glass
  clear: both
  text-align: center
  overflow: hidden
  margin: 2em auto
  margin-top: 4em
  border-radius: 0px
  @media screen and (max-width: 1000px)
    margin: 2em auto
  ul
    width: 95vw
    display: grid
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto
    min-height: 100px
    margin: 0
    padding: 15px 0 30px 0
    position: relative

.common-profile-list-block
  display: inline-block
  margin: 30px auto
  vertical-align: middle
  @media screen and (max-width: 1000px)
    margin: 30px 33px
  @media screen and (max-width: 720px)
    margin: 25px 20px
  @media screen and (max-width: 600px)
    margin: 15px 10px
  @media screen and (max-width: 520px)
    margin: 30px 10vw
  @media screen and (max-width: 380px)
    margin: 20px 5vw

li.vcard
  margin: 0
  padding: 0
  list-style: none
  border: none
  position: relative
  width: 5vw
  height: 5vw
  .menu-submenu-trigger
    display: none
    //&::before content: "\25B2"
  .profile_link
    position: absolute
    top: 0
    left: 0
    display: block
    background-size: cover
    background-position: 50% 40%
    width: 5vw
    height: 5vw
    overflow: visible
    border-radius: 10px
    transition: transform 0.6s, filter 0.6s
    .profile-image
      display: none
    .org
      display: block
      position: absolute
      bottom: -1em
      left: 0
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      text-align: center
      font-size: 16px
      font-family: "Liberation Sans Narrow", "Arial Narrow"
      transition: 0.6s
      border-radius: 0 0 10px 10px
  &:hover
    background: transparent
    border: none
    .profile_link
      transform: scale(1.3, 1.3)
      filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.8))
      transition: transform 0.2s, filter 0.2s
      .org
        white-space: normal
        overflow: visible
        bottom: 0
        padding: 0.1em 0 0.3em 0
        line-height: 1em
        background: rgba(255,255,255,0.5)
        text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF
        transition: 0.2s

#conheca-outras li
  margin: 0
  padding: 0
  width: 5vw
  height: 5vw
  list-style: none
  position: relative
  a
    display: block
    width: 150px
    height: 66px
    font-size: 20px
    font-family: Barbara
    text-decoration: none
    text-align: center
    line-height: 1.2em
    color: #000
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="20"><path style="fill:none;stroke:%23000;stroke-width:6px;stroke-linecap:round;" d="M 3,10 C 70,0 280,0 297,17" /></svg>')
    background-position: 50% 88%
    background-repeat: no-repeat
    background-size: contain
    transform: rotate(-45deg) translate(-30px, 0px)
    strong
      font-size: 22px
      letter-spacing: 1px
