&
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 30px
  padding: 0 2vw
  background: #226
  z-index: 10

#top-menu-content
  margin: auto
  padding-top: 0.3em
  //font-family: "Liberation Sans Narrow", "Arial Narrow"
  text-align: right
  color: rgba(255,255,255,0.6)
  ul
    display: inline-block
    margin: 0
    padding: 0 1em 0 0
    li
      margin: 0 0.5em
      padding: 0
      list-style: none
      display: inline-block
      a
        display: block
        padding: 0.2em 0.5em
        border-radius: 0.3em
        color: #FFF
        font-weight: bold
        text-decoration: none
        &:hover
          background: #FFF
          color: #226
  @media screen and (max-width: 850px)
    font-size: 1.8vw
  #user-menu
    display: inline-block
    position: relative
    transition: filter 0.2s 1s
    #pending-tasks-count
      position: absolute
      display: block
      top: -1px
      right: -8px
      min-width: 1.3em
      line-height: 1.3em
      background: #FA0
      color: #FFF
      border-radius: 50%
      text-align: center
      box-shadow: 0 0 5px #000
    > div
      position: absolute
      overflow: hidden
      max-height: 0
      transition: max-height 1s, padding 0.5s 0.5s
      top: 1.6em
      right: 0
      padding: 0 0.5em
      background: #FFF
      border-radius: 0.5em 0 0.5em 0.5em
      > *
        display: block
        margin: 0.2em 0
        padding: 0.2em 0.5em
        white-space: nowrap
        &:hover
          background: #226
          color: #FFF
          border-radius: 0.3em
    #user-menu-header
      border-radius: 0.5em 0.5em 0 0
      display: block
      padding: 0.2em 1em 0em 0.6em
      color: #FFF
      transition: background-color 0.2s 1s, color 0.2s 1s
      i
        display: inline-block
        width: 1.4em
        height: 1.4em
        background-position: 50% 50%
        background-size: cover
        border-radius: 50%
        vertical-align: middle
        margin-right: 0.3em
    &:hover
      filter: drop-shadow(0 0 0.4em #226)
      transition: filter 0s
      #user-menu-header
        color: #226
        background-color: #FFF
        transition: 0s
      > div
        max-height: 50vh
        padding: 0.3em 0.5em
        transition: max-height 0.6s
    a
      color: #226
      text-decoration: none
      strong
        font-weight: normal
    //&.logged-in
    &.logged-out a
      color: #FFF
